<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="BN" connectionString="Data Source=BASIS-PC\SQLEXPRESS;Initial Catalog=BN21;User ID=sa;Password=Administrator1" providerName="System.Data.SqlClient"/>
	</connectionStrings>

	<appSettings>
		<add key="SendEmailFrom" value="MediCloud.me &lt;ncastanedahidalgo@gmail.com&gt;"/>
		<add key="MailJet_KeyID" value="e5114638ed8e5f78141617ede766e410"/>
		<add key="MailJet_SecretKey" value="c68ac04cac8fbb140094710a754af23b"/>
		<add key="MailJet_Port" value="587"/>
		<add key="Bcc" value=""/>	
	</appSettings>
	
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

</configuration>